/* 1st part */
.first-section {
    background-image: url('assets/Hero-bg.png');
}

.first-part {
    text-align: center;
}

.first-part h1 {
    font-size: 50px;
}

.first-part button {
    padding: 10px 30px;
    color: white;
    background-color: black;
    border-radius: 5px;
}

span {
    word-spacing: 40px;
}


/* 2nd part */
.second-part {
    text-align: center;
    margin-top: 100px;
}

.second-part h1 {
    font-size: 40px;
}

.second-code {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.second-code h1 {
    color: darkgrey;
}

.second-code button {
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid black;
}

.second-code-text {
    margin-right: 150px;
}

.second-code-text2 {
    margin-left: 150px;
}



/* 3rd part */

.third-part {
    text-align: center;
    margin-top: 100px;
}

.third-part h1 {
    font-size: 40px;
}

.third-part iframe {
    padding: 15px;
    border: 2px solid gray;
    border-radius: 5px;
    margin-top: 50px;
}


/* 4th-part */
.forth-part {
    text-align: center;
    margin-top: 100px;
}

.forth-part h1 {
    font-size: 40px;
}

.skill-cart {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.skill-cart h6 {
    text-decoration: underline;
    font-size: 15px;
}

.skill-1 {
    background-color: rgb(218, 225, 225);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

.skill-2 {
    background-color: rgb(232, 226, 224);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

.skill-3 {
    background-color: rgb(245, 243, 246);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

/* 5th-part */
.fifth-part {
    text-align: center;
    background-image: url('assets/handshake.jpg');
    margin: 100px;
    padding: 50px;
    color: aliceblue;
}

.fifth-part input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 400px;
    padding-left: 5px;
    color: black;
    background-color: aliceblue;
    margin-right: 30px;
    border: none;
    border-radius: 3px;
}

.submit-part {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.submit-part button {
    padding: 10px 20px;
    color: black;
    background-color: aliceblue;
    border-radius: 3px;
}



/* footer */
footer section {
    display: flex;
    background-color: bisque;
    justify-content: end;
    margin: 100px;
}

footer h1 {
    padding-right: 55%;
}

footer button {
    background-color: bisque;
    border: none;
}